@media screen and (max-width:600px){

    .navbar{
        border-color: red;
        border-bottom:  solid 5px;
        padding: 10px;
        height: 50px;
        width: 100%;
        text-align: center;
        background: #1C1C1C;

    }

    h1{
        color: white;

    }

    .amands{
        color:red;
    }

    .save {
        background-color: #e1e1e1;
        border: none;
        border-radius: 15px;
        padding: 5px 10px 5px 10px;
    }
    
    .save:hover {
        background-color: #ededed;
        cursor: pointer;
    }
    
    
}